body {
  background: radial-gradient(circle, rgba(245,108,104,1) 0%, rgba(247,132,16,1) 100%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}